body
{
    max-width: 1200px;
    min-width: 800px;
    background-color: #F1E9E9;
    color: #1E1E1E;
    margin: 0 auto;
}

header
{
    max-width: 1100px;
    margin: 0 auto;
}

#top
{
    display: flex;
    justify-content: space-between;
}

#top span
{
    background-image: url("images/circle.svg");
    background-repeat: no-repeat;
    background-size: 145px;
    background-position-y: -25.9px;
    animation: automatic 2s infinite forwards;
}

@keyframes automatic
{
    0%  {background-image: none;}
    25% {background-image: url("images/circle.svg");}
    50% {background-image: none;}
    75% {background-image: url("images/circle.svg");}
    100% {background-image: none;}
}

#banner
{
    width: 1100px;
    height: 250px;
    background-color: #FFFEFE;
    border-style: solid;
    border-width: 2px;
    border-color: #1E1E1E;
}

#image
{
    max-width: 1090px;
    max-height: 220px;
    position: relative;
    top: 5px;
    left: 5px;
    overflow: hidden;
}

#image img
{
    filter: blur(2px);
    transform: scale(1);
    transition: transform 1.5s, filter 1s ease-in-out;
}

#image:hover img
{
    filter: blur(0px);
    transform: scale(1.23);
}

#quote
{
    display: flex;
    justify-content: space-between;
}

#quote p
{
    font-family: Philosopher;
    font-style: italic;
    text-transform: lowercase;
    position: relative;
    top: -8px;
}

#sea
{
    left: 5px;
}

#flowers
{
    right: 6px;
}

h1, h2
{
    font-family: Philosopher;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 30px;
}

header h1
{
    font-size: 32px;
}

header h2
{
    font-size: 25px;
    position: relative;
    top: 7px;
}

main
{
    display: flex;
}

section
{
    list-style-type: none;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: #1E1E1E;
    min-width: 250px;
    padding-right: 32px;
    line-height: 1.5em;
    position: relative;
    top: 45px;
    left: 11px;
    background-color: #FFFEFE;
}

section h2
{
    font-size: 22px;
    color: #FFFEFE;
    background-color: #1E1E1E;
    display: inline;
    padding: 10px;
    position: relative;
    left: -20px;
    top: -15px;
}

#experiments
{
    position: relative;
    top: 12px;
}

section li
{
    margin: 16px;
    position: relative;
    left: 20px;
    top: -10px;
}

section a
{
    font-family: Hammersmith One;
    text-transform: lowercase;
    text-decoration: none;
    color: #1E1E1E;
    border-style: double;
    border-color: #FFFEFE;
    padding: 3px;
}

a:hover
{
    border-color: #1E1E1E;
    background-color: #F1E9E9;
}

footer
{
    max-width: 1100px;
    margin: 0 auto;
    font-family: Hammersmith One;
    text-transform: uppercase;
    position: relative;
    top: 60px;
}

footer a
{
    text-decoration: none;
    color: #1E1E1E;
    position: relative;
    top: 16px;
    left: 3px;
}

#bottom
{
    display: flex;
    justify-content: space-between;
}