body
{
    background-color: lavender;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main
{
    text-align: center;
}

p
{
    line-height: 1.5em;
    font-size: 17px;
    text-align: left;
}

p, img, figcaption
{
    width: 510px;
    margin: 0 auto;
    padding-bottom: 1em;
}

h2
{
    padding-top: 1em;
}