body
{
    background-color: #021835;
    font-family: 'Inter', sans-serif;
    max-width: 1200px;
    max-height: 750px;
    margin: 0 auto;
    /* overflow: hidden; */
}

header
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

header h2
{
    color: #FEFFFF;
    font-size: 70px;
    text-align: center;
    width: 90px;
    position: relative;
    top: -60px;
}

header h3
{
    color: #BDC2CA;
    background-color: #405368;
    font-weight: 400;
    font-size: 16px;
    width: 450px;
    height: 33px;
    padding: 15px 0 0 15px;
    border-radius: 5px;
}

input, label, select, button
{
    display: block;    
    position: relative;
    margin: 0 auto;
    width: 375px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: 0;
}

select
{
    width: 379px;
    height: 42px;
}

.pagecount
{
    font-size: 12px;
    margin-top: 20px;
}

input[type="submit"], input[type="button"], button
{
    background-color: #00B8FF;
    font-weight: 500;
    border-radius: 2.5px;
}

input[type="button"]
{
    margin-top: 108px;
}

input[type="submit"], button
{
    margin-top: 50px;
}

form p
{
    margin-top: 10px;
    font-size: 16px;
    text-decoration: underline;
}

#tumblr
{
    font-size: 75px;
    margin-top: 125px;
    font-weight: 700;
}

main
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #FEFFFF;
    font-size: 20px;
    text-align: center;
    /* margin-top: -100px; */
}

section
{
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-20%);
}

form div
{
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
}



/* #results-view div
{
    width: 310px;
    margin: 0 auto;
} */

footer
{
    display: flex;
    padding: 15px;
    margin-top: 480px;
    justify-content: space-between;
    color: #FEFFFF;
}

footer a
{
    color: #FEFFFF;
    text-decoration: none;
}

.showing
{
    visibility: visible;
}

.hidden
{
    visibility: hidden;
}
